    <div class="wrapper">
        <form>
            <fieldset>
                <legend>URL:</legend>
                <div class="rows clearfix">
                    <div class="col-md-1">
                        <span>URL</span>
                    </div>
                    <div class="form-group col-md-10">
                        <input class="input-box form-control" id= "url"  type="text" name="url" value="<%= url%>">
                    </div>
                </div>
                <div class="rows clearfix">
                    <div class="col-md-1">
                        <span>icn</span>
                    </div>
                    <div class="form-group col-md-10">
                        <input class="input-box form-control" id="icn" disabled type="text" name="icn">
                    </div>
                </div>
                <div class="rows clearfix">
                    <div class="form-group col-md-1">
                        <span>ici</span>
                    </div>
                    <div class="form-group col-md-10">
                        <input class="input-box form-control" id="ici" type="text" disabled name="ici">
                    </div>
                </div>
            </fieldset>

            <fieldset class="img-set">
                <legend>Image:</legend>

                    <% for(var i=0; i<4; i++) { %>
                    <div class="row" id="<%= files[i] && files[i].type ? files[i].type : '-' %>">
                        <div class="col-md-1">
                            <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Upload</span>
                            <input type="file" name="files[]" class="fileupload" id="<%= 'id'+i %>" multiple>
                        </span>
                        </div>
                        <div class="col-md-2 img-desc" style="margin-left: 100px;">  <!-- @todo -->
                            <span class="img-name" id="img-name-<%= i %>"><%= files[i] && files[i].name ? files[i].name: '-' %></span>
                        </div>
                        <div class="col-md-1 img-desc">
                            <span class="img-type"><%= files[i] && files[i].type ? files[i].type : '-' %></span>
                        </div>
                        <div class="col-md-1 img-desc">
                            <span class="img-desc" id="img-size-<%= i %>"><%= files[i] && files[i].size ? files[i].size: '-' %></span>
                        </div>
                        <div class="col-md-2 img-desc">
                            <span class="img-last-updated" id="img-last-updated-<%= i %>"><%= files[i] && files[i].updatedAt ? files[i].updatedAt: '-' %></span>
                        </div>
                        <button class="preeview" id="preview-<%= i %>">Preview</button>

                    </div>

                    <% } %>
                <div class="row" >
                    <!--<div class = "clo-md-4">-->
                        <button id="upload" class="btn btn-info" >Save</button>
                    <!--</div>-->

                </div>
            </fieldset>
            <input style="visibility: hidden;" id="editableContent" />
        </form>
    </div>
